FRONTEND_ORIGIN=http://localhost:5173
YOUTUBE_API_KEY=
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash-lite
DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/dbname
CLERK_SECRET_KEY=sk_test_SHdUnNrCBusSMYPoYrfq0vhraN4czDRsudG9WNJ8Lv